<nav class="h-16 bg-primary py-2 px-5 flex justify-between">
  <div>
    <button routerLink="/" class="btn btn-primary">Home</button>
    <button *ngIf="isUserLoggedIn()" routerLink="/dishes/create/form" class="btn btn-primary">Create</button>
  </div>
  <div *ngIf="!isUserLoggedIn()">
    <button routerLink="/login" class="btn btn-primary">Login</button>
    <button routerLink="/signup" class="btn btn-primary">Signup</button>
  </div>
  <div *ngIf="isUserLoggedIn()">
    <button (click)="logout()" class="btn btn-primary">Logout</button>
  </div>
</nav>
